// - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
// - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
// - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
// - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
// - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
// - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)

$lightGrey: hsl(0, 0%, 98%);
$darkGrey: hsl(0, 0%, 52%);
$white: hsl(0, 0%, 100%);
$black: #000;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 62.5%;
    background-color: $lightGrey;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background-color: $white;
    padding: 2.3rem 0;
    box-shadow: 1px 3px 4px -2px rgba(133,133,133,0.54);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    h1 {
        font-size: 2.5rem;
        color: $black;
    }

    .theme {

        p {
            font-size: 2rem;
            font-weight: 600;
            cursor: pointer;
            color: $black;
             
            i {
                padding-right: .3rem;
            }
        }
    }
}

.inputs {
    margin-top: 7rem;
    margin-bottom: 7rem;

    .container{
        display: flex;
        justify-content: space-between;
    }

    &_search {
        position: relative;

        i {
            position: absolute;
            font-size: 1.6rem;
            color: $darkGrey;
            top: 50%;
            transform: translateY(-50%);
            padding-left: 2.5rem;
        }

        input {
            width: 50rem;
            height: 5rem;
            outline: none;
            border: none;
            border-radius: 4px;
            padding-left: 6rem;
            -webkit-box-shadow: 0px 7px 23px 4px rgba(133,133,133,0.21); 
            box-shadow: 0px 7px 23px -4px rgba(133,133,133,0.21);   
            color: $darkGrey;

        }
    }

    &_filter {
        // width: 10rem;
        height: 5rem;
        outline: none;
        border: none;
        border-radius: 4px;
        padding-left: 2rem;
        padding-right: 2rem;
        -webkit-box-shadow: 0px 7px 23px 4px rgba(133,133,133,0.21); 
        box-shadow: 0px 7px 23px -4px rgba(133,133,133,0.21);   
        color: $black;
    }

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $darkGrey;
    opacity: 1; /* Firefox */
  }

.results {

    .container {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        // transform: scale(1.04) translateY(20px);
    }

    &_card {
        width: 21%;
        background-color: $white;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 7rem;
        width: calc(100% * (1/4) - 4%);
        margin: 0 2% 4% 2%;
        box-shadow: 0px 7px 23px -4px rgba(133,133,133,0.21);   
        cursor: pointer;

        &--image {
            height: 18rem;

            img {
                height: 100%;
                width: 100%;
                // object-fit: cover;
            }
        }



        &_details {
            padding: 2rem;
            padding-bottom: 4rem;

            &--heading {
                font-size: 1.9rem;
                padding-bottom: 2rem;

            }

            &--pop,
            &--region,
            &--cap {
                font-size: 15px;
                padding-bottom: .7rem;
            }
        }
    }
}

.country_info {
    width: 100%;
    height: 100%;
    transform: translateY(5px);
    position: absolute;
    z-index: 100;
    display: none;
    background-color: $lightGrey;
}