// - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
// - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
// - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
// - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
// - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
// - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)

$lightGrey: hsl(0, 0%, 98%);
$darkGrey: hsl(0, 0%, 52%);
$white: hsl(0, 0%, 100%);
$black: #000;

:root {
    --light-bg: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --dark-grey: hsl(0, 0%, 52%);
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 62.5%;
    background-color: var(--light-bg);
}

.container {
    max-width: 1400px;
    margin: 0 auto;

    @media(max-width: 1400px) {
        padding: 0 20px;
    }
}

header {
    background-color: var(--white);
    padding: 2.3rem 0;
    box-shadow: 1px 3px 4px -2px rgba(0, 0, 0, 0.2);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    h1 {
        font-size: 2.5rem;
        color: var(--black);

        @media(max-width: 520px) {
            font-size: 2rem;
        }
    }

    .theme {

        p {
            font-size: 2rem;
            font-weight: 600;
            cursor: pointer;
            color: var(--black);
             
            i {
                padding-right: .3rem;
            }

            @media(max-width: 520px) {
                font-size: 1.5rem;
            }
        }
    }
}

.inputs {
    margin-top: 7rem;
    margin-bottom: 7rem;

    .container{
        display: flex;
        justify-content: space-between;

        @media(max-width: 850px) {
            flex-direction: column;
        }
    }

    &_search {
        position: relative;
        height: 100%;

        i {
            position: absolute;
            font-size: 1.6rem;
            color: var(--dark-grey);
            top: 50%;
            transform: translateY(-50%);
            padding-left: 2.5rem;
        }

        input {
            width: 50rem;
            height: 5rem;
            outline: none;
            border: none;
            border-radius: 4px;
            padding-left: 6rem; 
            box-shadow: 0px 7px 23px -4px rgba(0, 0, 0, 0.2);        

            color: var(--dark-grey);
            background-color: var(--white);

            @media(max-width: 520px) {
                width: 100%;
            }
        }
    }

    &_filter {
        height: 5rem;
        outline: none;
        border: none;
        border-radius: 4px;
        padding: 1.7rem;
        cursor: pointer;
        box-shadow: 0px 7px 23px -4px rgba(0, 0, 0, 0.2);   
        color: var(--black);
        background-color: var(--white);

        p {
            font-size: 1.3rem;

            i {
                padding-left: 3rem;
                font-size: 1.1rem;
            }
        }

        @media(max-width: 850px) {
            margin-top: 2rem;
            display: inline-block;
        }
    }

    &_filter_dropdown {
        outline: none;
        border: none;
        border-radius: 4px;
        padding: 1.7rem;
        box-shadow: 0px 7px 23px -4px rgba(0, 0, 0, 0.2);   
        color: var(--black);
        background-color: var(--white);
        font-size: 1.3rem;
        margin-top: 3px;
        position: absolute;
        width: 100%;
        
        

        p {
            padding-bottom: .8rem;
            cursor: pointer;

            &:last-of-type {
                padding-bottom: 0;
            }
        }

        @media(max-width: 850px) {
            width: 166.39px;
        }
    }

}

.inputs_filters_parent {
    position: relative;
}

.displayed {display: none;}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--dark-grey);
    opacity: 1; /* Firefox */
  }

.results {

    .container {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        // transform: scale(1.04) translateY(20px);
    }

    &_card {
        // width: 21%;
        background-color: var(--white);
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 7rem;
        width: calc(100% * (1/4) - 4%);
        margin: 0 2% 4% 2%;
        box-shadow: 0px 7px 23px -4px rgba(0, 0, 0, 0.2);   
        color: var(--black);

        &--image {
            height: 18rem;
            cursor: pointer;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }



        &_details {
            padding: 2rem;
            padding-bottom: 4rem;

            &--heading {
                font-size: 1.9rem;
                padding-bottom: 2rem;

            }

            &--pop,
            &--region,
            &--cap {
                font-size: 1.5rem;
                padding-bottom: .7rem;
            }
        }

        @media(max-width: 850px) {
            width: calc(100% * (1/2) - 4%);

        }

        @media(max-width: 520px) {
            width: 100%;
            margin-bottom: 5rem;
        }
    }
}

.country_info {
    width: 100%;
    height: 90%;
    transform: translateY(5px);
    position: absolute;
    z-index: 100;
    display: none;
    background-color: var(--light-bg);
    padding-top: 8rem;

    .back_btn {
        font-size: 1.8rem;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);        
        display: inline-block;
        padding: 10px 30px;
        border-radius: 4px;
        cursor: pointer;
        color: var(--black);
        background-color: var(--white);

        i {
            transform: translateY(1px);
        }

        span {
            padding-left: 1.3rem;
        }
    }

    .info_container {
        width: 100%;
        margin-top: 8rem;
        display: flex;

        &_left {
            width: 45%;

            margin-right: 10%;

            img {
                width: 100%;
            }

            @media(max-width: 700px) {
                width: 100%;
            }
        }

        &_right {
            width: 45%;
            margin-top: 4rem;
            color: var(--black);

            &--heading {
                font-size: 3.8rem;
            }

            &--info {
                display: flex;
                justify-content: space-between;
                margin: 4rem 0;

                p {
                    font-size: 1.8rem;
                    padding-bottom: 1.3rem;
                }

                &--right {
                    @media(max-width: 550px) {
                        margin-top: 6rem;
                    }
                }

                @media(max-width: 550px) {
                    flex-direction: column;
                }
            }

            &--borders {

                p {
                    font-size: 1.8rem;
                    padding-bottom: 1.3rem;



                    span {
                        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);        
                        display: inline-block;
                        padding: 8px 25px;
                        border-radius: 4px;
                        margin-right: 1.5rem;
                        margin-bottom: 2rem;
                        background-color: var(--white);


                        &:first-of-type {
                            margin-left: 2rem;
                        }
                    }


                }
            }

            @media(max-width: 700px) {
                width: 100%;
            }
        }

        @media(max-width: 700px) {
            flex-direction: column;
        }
    }
}
