// - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
// - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
// - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
// - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
// - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
// - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)

$lightGrey: hsl(0, 0%, 98%);
$darkGrey: hsl(0, 0%, 52%);
$white: hsl(0, 0%, 100%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 62.5%;
    background-color: $lightGrey;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background-color: $white;
    padding: 2.3rem 0;
    box-shadow: 1px 3px 4px -2px rgba(133,133,133,0.54);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    h1 {
        font-size: 2.5rem;
    }

    .theme {

        p {
            font-size: 2rem;
             
            i {
                padding-right: .3rem;
            }
        }
    }
}

.inputs {
    margin-top: 7rem;

    .container{
        display: flex;
        justify-content: space-between;
    }

    &_search {
        position: relative;

        i {
            position: absolute;
            font-size: 1.6rem;
            color: $darkGrey;
            top: 50%;
            transform: translateY(-50%);
            padding-left: 2.5rem;
        }

        input {
            width: 50rem;
            height: 5rem;
            outline: none;
            border: none;
            border-radius: 4px;
            padding-left: 6rem;
            -webkit-box-shadow: 0px 7px 23px 4px rgba(133,133,133,0.21); 
            box-shadow: 0px 7px 23px -4px rgba(133,133,133,0.21);   
            color: $darkGrey;

        }
    }

    &_filter {
        // width: 10rem;
        height: 5rem;
        outline: none;
        border: none;
        border-radius: 4px;
        padding-left: 2rem;
        padding-right: 2rem;
        -webkit-box-shadow: 0px 7px 23px 4px rgba(133,133,133,0.21); 
        box-shadow: 0px 7px 23px -4px rgba(133,133,133,0.21);   
        // color: $darkGrey;
    }

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $darkGrey;
    opacity: 1; /* Firefox */
  }