:root {
  --light-bg: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --dark-grey: hsl(0, 0%, 52%);
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 62.5%;
  background-color: var(--light-bg);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .container {
    padding: 0 20px;
  }
}

header {
  background-color: var(--white);
  padding: 2.3rem 0;
  -webkit-box-shadow: 1px 3px 4px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 3px 4px -2px rgba(0, 0, 0, 0.2);
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  font-size: 2.5rem;
  color: var(--black);
}

@media (max-width: 520px) {
  header h1 {
    font-size: 2rem;
  }
}

header .theme p {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--black);
}

header .theme p i {
  padding-right: .3rem;
}

@media (max-width: 520px) {
  header .theme p {
    font-size: 1.5rem;
  }
}

.inputs {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.inputs .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 850px) {
  .inputs .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.inputs_search {
  position: relative;
  height: 100%;
}

.inputs_search i {
  position: absolute;
  font-size: 1.6rem;
  color: var(--dark-grey);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-left: 2.5rem;
}

.inputs_search input {
  width: 50rem;
  height: 5rem;
  outline: none;
  border: none;
  border-radius: 4px;
  padding-left: 6rem;
  -webkit-box-shadow: 0px 7px 23px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 7px 23px -4px rgba(0, 0, 0, 0.2);
  color: var(--dark-grey);
  background-color: var(--white);
}

@media (max-width: 520px) {
  .inputs_search input {
    width: 100%;
  }
}

.inputs_filter {
  height: 5rem;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 1.7rem;
  cursor: pointer;
  -webkit-box-shadow: 0px 7px 23px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 7px 23px -4px rgba(0, 0, 0, 0.2);
  color: var(--black);
  background-color: var(--white);
}

.inputs_filter p {
  font-size: 1.3rem;
}

.inputs_filter p i {
  padding-left: 3rem;
  font-size: 1.1rem;
}

@media (max-width: 850px) {
  .inputs_filter {
    margin-top: 2rem;
    display: inline-block;
  }
}

.inputs_filter_dropdown {
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 1.7rem;
  -webkit-box-shadow: 0px 7px 23px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 7px 23px -4px rgba(0, 0, 0, 0.2);
  color: var(--black);
  background-color: var(--white);
  font-size: 1.3rem;
  margin-top: 3px;
  position: absolute;
  width: 100%;
}

.inputs_filter_dropdown p {
  padding-bottom: .8rem;
  cursor: pointer;
}

.inputs_filter_dropdown p:last-of-type {
  padding-bottom: 0;
}

@media (max-width: 850px) {
  .inputs_filter_dropdown {
    width: 166.39px;
  }
}

.inputs_filters_parent {
  position: relative;
}

.displayed {
  display: none;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--dark-grey);
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--dark-grey);
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--dark-grey);
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--dark-grey);
  opacity: 1;
  /* Firefox */
}

.results .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.results_card {
  background-color: var(--white);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 7rem;
  width: calc(100% * (1/4) - 4%);
  margin: 0 2% 4% 2%;
  -webkit-box-shadow: 0px 7px 23px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 7px 23px -4px rgba(0, 0, 0, 0.2);
  color: var(--black);
}

.results_card--image {
  height: 18rem;
  cursor: pointer;
}

.results_card--image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.results_card_details {
  padding: 2rem;
  padding-bottom: 4rem;
}

.results_card_details--heading {
  font-size: 1.9rem;
  padding-bottom: 2rem;
}

.results_card_details--pop, .results_card_details--region, .results_card_details--cap {
  font-size: 1.5rem;
  padding-bottom: .7rem;
}

@media (max-width: 850px) {
  .results_card {
    width: calc(100% * (1/2) - 4%);
  }
}

@media (max-width: 520px) {
  .results_card {
    width: 100%;
    margin-bottom: 5rem;
  }
}

.country_info {
  width: 100%;
  height: 90%;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  position: absolute;
  z-index: 100;
  display: none;
  background-color: var(--light-bg);
  padding-top: 8rem;
}

.country_info .back_btn {
  font-size: 1.8rem;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 10px 30px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--black);
  background-color: var(--white);
}

.country_info .back_btn i {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.country_info .back_btn span {
  padding-left: 1.3rem;
}

.country_info .info_container {
  width: 100%;
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.country_info .info_container_left {
  width: 45%;
  margin-right: 10%;
}

.country_info .info_container_left img {
  width: 100%;
}

@media (max-width: 700px) {
  .country_info .info_container_left {
    width: 100%;
  }
}

.country_info .info_container_right {
  width: 45%;
  margin-top: 4rem;
  color: var(--black);
}

.country_info .info_container_right--heading {
  font-size: 3.8rem;
}

.country_info .info_container_right--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 4rem 0;
}

.country_info .info_container_right--info p {
  font-size: 1.8rem;
  padding-bottom: 1.3rem;
}

@media (max-width: 550px) {
  .country_info .info_container_right--info--right {
    margin-top: 6rem;
  }
}

@media (max-width: 550px) {
  .country_info .info_container_right--info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.country_info .info_container_right--borders p {
  font-size: 1.8rem;
  padding-bottom: 1.3rem;
}

.country_info .info_container_right--borders p span {
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 8px 25px;
  border-radius: 4px;
  margin-right: 1.5rem;
  margin-bottom: 2rem;
  background-color: var(--white);
}

.country_info .info_container_right--borders p span:first-of-type {
  margin-left: 2rem;
}

@media (max-width: 700px) {
  .country_info .info_container_right {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .country_info .info_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */